@media (max-width: 610px){
    .dayandnight{
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
}
@media (max-width: 550px){
    .FutureInfo{
        width: 7rem;
        height: 7rem;
    }
}
@media (max-width: 470px){
    .FutureInfo{
        display: none;
    }
}